 /* Ensure layout covers the entire screen. */
html {
  height:100%;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6fa;  
  overflow-y: scroll;
	overflow-x: hidden;
}

footer {
	height: 80px;
  width: 100%;
	background-color: #F5F5F5;
	text-align: center;
	position:absolute;
	bottom:0;
}
.demo-body {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      height: 100%;
}