 /* Ensure layout covers the entire screen. */
html {
  min-height:100%;
  position:relative;
}

body {
  background-color: #e6e6fa;  
  overflow-y: scroll;
	overflow-x: hidden;
}

.panel {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
}

footer {
  height: 80px;
  width: 100%;
	text-align: center;
	position:absolute;
	bottom:0;
}

.openModal {
  z-index: 1003; display: block; opacity: 1; transform: scaleX(1); top: 10%;
}
 

 